streamlit
streamlit-webrtc
opencv-python
fer
tensorflow-cpu
numpy

streamlit
streamlit-webrtc
opencv-python-headless
fer
tensorflow
keras
streamlit
streamlit-webrtc
fer
opencv-python-headless
moviepy
